html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 12vh 88vh ;
    grid-template-areas: "h h h"
                         ". m .";
}
header {
    grid-area: h; 
    background: #739b76;
    color: #fff;
    font-family: cursive;
    text-align: center;
}

h1 {
    font-size: calc(2px + 3vw);
    font-weight: bold;
}

main {
    grid-area: m;
    background: red;
}