h1 {
    font-size: 1.5em;
    color: #FFF;
    background-color: rgb(64, 82, 57);
    width: 77vw;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 1.3vw;
}

table {
    width: 80vw;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 10px;
}

td {
    padding: 10px 10px;
    border-bottom: 1px solid #CCC;
}

td input {
    width: 70vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn {
    text-align: right;
    border-bottom: 0px solid #CCC;
}

.btn_cadastrar {
    width: 100px;
    height: 30px;
    background-color: rgb(64, 82, 57); 
    color: #FFF;
    border: 0px solid #CCC;
    border-radius: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: blue;
}