.btn {
    text-align: right;
    border-bottom: 0px solid #CCC;
}

.btn_cadastrar, .btn_editar {
    width: 100px;
    height: 30px;
    background-color: #405239; 
    color: #FFF;
    border: 0px solid #CCC;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

