html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 10vh 90vh ;
    grid-template-areas: "h h"
                         "m m";
}

header {
    grid-area: h;
    background: #739b76;
    color: #fff;
    font-family: cursive;
    text-align: center;
    user-select: none;
}

img{
    width: 15vh;
    float: right;
}

main {
    grid-area: m;
    background: #ddd;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    margin-top: 5.4vh; /*CORRIGIR EM NOTEBOOK*/
}

li {
    padding: 0.5em;
    background: #88BD93;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li:hover {
    background: #76af81;
    transition: 0.2s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#atual {
    background: #ddd;
    color: #000000;
}

/*MAIN CSS*/
h1 {
    font-size: 1.5em;
    color: #FFF;
    background-color: #405239;
    width: 78vw;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 1.3vw;
    margin-top: 1.5vh;
}

table {
    width: 80vw;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 10px;
}

td {
    padding: 10px 10px;
    border-bottom: 1px solid #CCC;
}

td input {
    width: 70vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #ccc;
}