html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 11vh 89vh ;
    grid-template-areas: "h h"
                         "m a";
}

header {
    grid-area: h; 
    background: #739b76;
    color: #fff;
    font-family: cursive;
    text-align: center;
    user-select: none;
}

img{
    width: 26vh;
}

main {
    grid-area: m;
    background: #ddd;
}

aside {
    grid-area: a;
    background: #497046;
    text-align: center;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

li {
    padding: 0.5em;
    margin: 0.5em;
    background: #739b76;
    color: #fff;
    border-radius: 0.5em;
}

li:hover {
    background: #496647;
    transition: 0.2s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#atual {
    background: #385836;
    color: #fff;
}

/*MAIN CSS*/
h1 {
    font-size: 1.5em;
    color: #FFF;
    background-color: #405239;
    width: 78vw;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 1.3vw;
    margin-top: 1.5vh;
}

table {
    width: 80vw;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 10px;
}

td {
    padding: 10px 10px;
    border-bottom: 1px solid #CCC;
}

td input {
    width: 70vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #ccc;
}